<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- Website Config -->
		<title>Online Storage System - Admin Panel</title>
		<meta
			name="description"
			content="Online Storage System is a place where you can store your file on the server just like Google Drive. Not recommended for actual uses, this website made for learning purpose by Bill.IHCha"
		/>
		<meta content="#0000ff" data-react-helmet="true" name="theme-color" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<noscript>Please enable Javascript for this page to work!</noscript>

		<!-- Meta Tags for Rich Embed -->
		<meta property="og:url" content="https://storage.bill-zhanxg.com/admin/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Online Storage System - Admin Panel" />
		<meta
			property="og:description"
			content="Online Storage System is where you can store your file on the server just like Google Drive. Not recommended for actual uses, this website was made for learning purposes by Bill.IHCha"
		/>
		<meta property="og:image" content="/icon.png" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="storage.bill-zhanxg.com" />
		<meta property="twitter:url" content="https://storage.bill-zhanxg.com/admin/" />
		<meta name="twitter:title" content="Online Storage System - Admin Panel" />
		<meta
			name="twitter:description"
			content="Online Storage System is where you can store your file on the server just like Google Drive. Not recommended for actual uses, this website was made for learning purposes by Bill.IHCha"
		/>
		<meta name="twitter:image" content="/icon.png" />

		<!-- Meta Data for Discord Rich Embed -->
		<meta content="Online Storage System" property="og:title" />
		<meta content="" property="og:description" />
		<meta content="https://storage.bill-zhanxg.com" property="og:url" />
		<meta content="picture url" property="og:image" />
		<meta content="#0000ff" data-react-helmet="true" name="theme-color" />

		<!-- Import CSS -->
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
		<link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div
			class="hidden loading h-full w-full fixed z-10 left-0 top-0 overflow-x-hidden flex justify-center items-center z-[1000]"
			style="background-color: rgba(0, 0, 0, 0.65)"
		>
			<img src="/loading.gif" alt="Loading GIF" width="10%" />
		</div>
	</body>
</html>
