<!DOCTYPE html>

    <head>
        <!-- Website Config -->
        <title>Real Time Storage System</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Meta Data for Discord Rich Embed -->
        <meta content="Real Time Storage System" property="og:title" />
        <meta content="" property="og:description" />
        <meta content="https://storage.bill-zhanxg.com" property="og:url" />
        <meta content="picture url" property="og:image" />
        <meta content="#0000ff" data-react-helmet="true" name="theme-color" />
        <meta charset="UTF-8">

        <!-- Import CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="flex justify-center items-center h-[100vh]">
            <div class="bg-base-200 rounded-xl p-12">
                <div class="flex flex-col gap-6">
                    <h1 class="text-4xl font-bold text-center">Real Time Storage System</h1>
    
                    <div class="flex flex-col gap-4">
                        <div class="form-control w-full max-w-xl">
                            <div class="input-group">
                                <span><i class="fa-solid fa-user"></i></span>
                                <input
                                    type="text"
                                    placeholder="Enter Username"
                                    class="usernameInput input input-lg input-bordered w-full max-w-md"
                                />
                            </div>
                        </div>
                        <div class="form-control w-full max-w-xl">
                            <div class="input-group">
                                <span><i class="fa-solid fa-key"></i></span>
                                <input
                                    type="password"
                                    placeholder="Enter Password"
                                    class="passwordInput input input-lg input-bordered w-full max-w-md"
                                />
                            </div>
                        </div>
                    </div>
    
                    <div class="text-lg">
                        Don't have an account? <a href="/sign-up" class="link link-primary">Create One!</a> 
                    </div>
    
                    <button class="btn btn-lg btn-primary" onclick="login()">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </body>

<!-- Import JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/login.js"></script>


</html>