<!DOCTYPE html>

<head>

    <!-- Website Config -->
    <title>Online Storage System</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="icon image">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Data for Discord Rich Embed -->
    <meta content="Online Storage System" property="og:title" />
    <meta content="" property="og:description" />
    <meta content="https://storage.bill-zhanxg.com" property="og:url" />
    <meta content="picture url" property="og:image" />
    <meta content="#0000ff" data-react-helmet="true" name="theme-color" />
    <meta charset="UTF-8">

    <!-- Import -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
    <link rel="stylesheet" href="/login-main.css">
    <link rel="stylesheet" href="/login-dark.css" class="dark-theme">
    <link rel="stylesheet" href="/login-light.css" class="light-theme" disabled>
</head>

<body>
    <button class="dropdown">
        <i class="fas fa-language">&nbsp;</i>
        <span lang="en">Languages</span>
        <ch lang="zh"> 中文</ch>
    </button>
    <div class="options languageOp">
        <a value="en">
            <span lang="en">English</span>
            <span lang="zh">中文</span>
        </a>
        <a value="zh">
            <span lang="en">Chinese</span>
            <span lang="zh">中文</span>
        </a>
    </div>
    <div class="main">
        <div>
            <!-- Login Page -->
            <div>
                <div>
                    <!-- Title -->
                    <div class="title">
                        <h1>
                            <span lang="en">Online Storage System</span>
                            <ch lang="zh">中文</ch>
                        </h1>
                    </div>

                    <!-- Form -->
                    <div class="login">
                        <form>
                            <p class="error"></p>
                            <div class="center">
                                <i class="fa-solid fa-user"></i>
                                <input class="usernameInput" placeholder="Username" />
                            </div>
                            <div class="center">
                                <i class="fa-solid fa-lock"></i>
                                <input class="passwordInput" placeholder="Password" type="password" />
                            </div>
                        </form>
                    </div>

                    <!-- Login Button-->
                    <button class="button" onclick="login();">
                        <span lang="en">Login</span>
                        <ch lang="zh">中文</ch>
                    </button>
                </div>
            </div>

            <!-- Settings -->
            <div>
                <div class="settings">
                </div>
            </div>
        </div>

    </div>
    <p class="signup">
        <span lang="en">Don't have an account?</span>
        <span lang="zh">中文</span>
        &nbsp;
        <a href="/sign-up">
            <span lang="en">Create one</span>
            <span lang="zh">中文</span>
        </a>
    </p>
</body>

<!-- Import -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/login.js"></script>

</html>