<!DOCTYPE html>

<head>

    <!-- Website Config -->
    <title>Real Time Storage System</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="icon image">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Data for Discord Rich Embed -->
    <meta content="Online Storage System" property="og:title" />
    <meta content="" property="og:description" />
    <meta content="https://storage.bill-zhanxg.com" property="og:url" />
    <meta content="picture url" property="og:image" />
    <meta content="#0000ff" data-react-helmet="true" name="theme-color" />
    <meta charset="UTF-8">

    <!-- Import -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/login-main.css">
    <link rel="stylesheet" href="/login-dark.css" class="dark-theme">
    <link rel="stylesheet" href="/login-light.css" class="light-theme" disabled>
</head>

<body>

    <div class="dropdown languageBtn" styles="margin: 1rem">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-language">&nbsp;</i> Languages
        </button>

        <ul class="dropdown-menu languageOp" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" value="en">English</a></li>
            <li><a class="dropdown-item" value="zh">中文</a></li>
        </ul>
    </div>

    <div class="main">
        <div>
            <!-- Login Page -->
            <div>
                <div>
                    <!-- Title -->
                    <h1 class="title">
                        Real Time Storage System
                    </h1>

                    <!-- Form -->
                    <div class="login">
                        <form>
                            <p class="error"></p>
                            <div class="center">
                                <i class="fa-solid fa-user"></i>
                                <input class="usernameInput" placeholder="Username" />
                            </div>
                            <div class="center">
                                <i class="fa-solid fa-lock"></i>
                                <input class="passwordInput" placeholder="Password" type="password" />
                            </div>
                        </form>
                    </div>

                    <!-- Login Button-->
                    <button class="button loginBtn" onclick="login();">
                        Login
                    </button>
                </div>
                <p class="signup">
                    Don't have an account?
                    &nbsp;
                    <a href="/sign-up">
                        Create one
                    </a>
                </p>
            </div>
            
        </div>
    </div>
</body>

<!-- Import -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</html>