<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Website Config -->
    <title>Online Storage System</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="icon image">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Data for Discord Rich Embed -->
    <meta content="Sign up for Online Storage System" property="og:title" />
    <meta content="If you're have a Chairo email, you can sign up anytime using your Chairo email address. If not, ask Bill.IHCha to give you an account depends on who are you ;?" property="og:description" />
    <meta content="https://panel.bill-zhanxg.com/sign-up" property="og:url" />
    <meta content="picture url" property="og:image" />
    <meta content="#0000ff" data-react-helmet="true" name="theme-color" />
    <meta charset="UTF-8">

    <!-- Import -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/sign-up.js"></script>
</head>

<body>

</body>