<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- Website Config -->
		<title>Online Storage System - Signup</title>
		<meta
			name="description"
			content="Online Storage System is a place where you can store your file on the server just like Google Drive. Not recommended for actual uses, this website made for learning purpose by Bill.IHCha"
		/>
		<meta content="#0000ff" data-react-helmet="true" name="theme-color" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<noscript>Please enable Javascript for this page to work!</noscript>

		<!-- Meta Tags for Rich Embed -->
		<meta property="og:url" content="https://storage.bill-zhanxg.com/signup/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Online Storage System - Signup" />
		<meta
			property="og:description"
			content="Online Storage System is where you can store your file on the server just like Google Drive. Not recommended for actual uses, this website was made for learning purposes by Bill.IHCha"
		/>
		<meta property="og:image" content="/icon.png" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="storage.bill-zhanxg.com" />
		<meta property="twitter:url" content="https://storage.bill-zhanxg.com/signup/" />
		<meta name="twitter:title" content="Online Storage System - Signup" />
		<meta
			name="twitter:description"
			content="Online Storage System is where you can store your file on the server just like Google Drive. Not recommended for actual uses, this website was made for learning purposes by Bill.IHCha"
		/>
		<meta name="twitter:image" content="/icon.png" />

		<!-- Meta Data for Discord Rich Embed -->
		<meta content="Online Storage System" property="og:title" />
		<meta content="" property="og:description" />
		<meta content="https://storage.bill-zhanxg.com" property="og:url" />
		<meta content="picture url" property="og:image" />
		<meta content="#0000ff" data-react-helmet="true" name="theme-color" />

		<!-- Import CSS -->
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
		<link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div
			class="hidden loading h-full w-full fixed z-10 left-0 top-0 overflow-x-hidden flex justify-center items-center"
			style="background-color: rgba(0, 0, 0, 0.65)"
		>
			<img src="/loading.gif" alt="Loading GIF" width="10%" />
		</div>
		<div class="flex justify-center items-center h-[100vh]">
			<div class="bg-base-200 rounded-xl p-12">
				<div class="flex flex-col gap-6 my-[-1rem]">
					<h1 class="text-4xl font-bold text-center">Online Storage System</h1>

					<div class="flex flex-col gap-4 relative">
						<div class="form-control w-full max-w-xl">
							<div class="input-group">
								<span><i class="fa-solid fa-envelope p-[0.45rem]"></i></span>
								<input
									type="text"
									placeholder="You Email"
									class="email input input-lg input-bordered w-full max-w-md"
									onkeypress="if (event.keyCode === 13) $('.password').focus();"
								/>
								<span>@chairo.vic.edu.au</span>
							</div>
						</div>
						<div class="form-control w-full max-w-xl">
							<div class="input-group">
								<span><i class="fa-solid fa-key p-[0.45rem]"></i></span>
								<input
									type="password"
									placeholder="Your Password"
									class="password input input-lg input-bordered w-full max-w-md pr-12"
									onkeypress="if (event.keyCode === 13) $('#signup-info').prop('checked', true);"
								/>
							</div>
						</div>

						<label for="password-info" class="model-button absolute bottom-[15%] right-[5%]">
							<i class="fa-solid cursor-pointer fa-circle-info"></i>
						</label>
					</div>

					<div class="error my-[-1rem] text-error hidden">
						<b class="error-text text-error"></b>
					</div>

					<div class="text-lg">Already have an account? <a href="/" class="link link-primary">Login now!</a></div>

					<!-- Password Info -->
					<input type="checkbox" id="password-info" class="modal-toggle" />
					<div class="modal">
						<div class="modal-box">
							<h3 class="font-bold text-lg">Password Information</h3>
							<p class="py-4">
								Password Suggestion:<br />
								1. If you use the same password for other sites, don't use that for this website.<br />
								2. Prefer long password instead of complex password.<br />
								<br />
								The password is stored in the database is been hashed using SHA3-512 method (if you don't know what hash
								is please view
								<a
									class="text-blue-300 underline"
									href="https://www.techtarget.com/searchdatamanagement/definition/hashing"
									rel="noopener"
									target="_blank"
									>this</a
								>
								website), but it's still a good practice to use different password for each site. I'll try my best to
								keep your data safe. But because of there is only 1 developer that do all of works, I can't guarantee
								that your data is 100% safe compare to other company have a team for security maintaining.
							</p>
							<div class="modal-action">
								<label for="password-info" class="btn w-full">Got it!</label>
							</div>
						</div>
					</div>

					<label class="btn btn-lg btn-primary model-button" for="signup-info"> Sign Up </label>

					<input type="checkbox" id="signup-info" class="modal-toggle" />
					<div class="modal">
						<div class="modal-box">
							<h3 class="font-bold text-lg">Website Information:</h3>
							<p class="py-4">
								This website is created and maintain by Bill.IHCha, only people with a Chairo email are able to create
								an account here because of lack of storage in my server. If you only want to test this website, there is
								a guest mode which you can enter by leaving both Email and Password field empty and click Login. If you
								want to create an account here, please be mindful that I won't take any responsibility if you lost the
								file you uploaded because it's hard for 1 developer to keep million of project maintained so make sure
								to have a backup of the file somewhere else. If you encounter any bugs you can talk to me in real life
								if you want to help me improve this website, or you can join my
								<a class="text-blue-300 underline" href="https://discord.gg/Xx8EaRzC33" rel="noopener" target="_blank"
									>discord server</a
								>
								if you have Discord.
							</p>
							<!-- TODO: ^^^ Also create issue on Github -->
							<div class="flex flex-row modal-action">
								<label for="signup-info" class="btn">Cancel</label>
								<label for="signup-info" class="btn" onclick="signup();">Continue</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Import JS -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			'use strict';

			$(window).on('load', () => {
				$('.email').focus();
			});

			function signup() {
				$('.loading').removeClass('hidden');
				$.ajax({
					url: '/signup',
					data: { email: $('.email').val(), password: $('.password').val() },
					type: 'POST',
					error: (error) => {
						if (error.status === 0)
							return $('.error-text').text(
								'Internet error! Please make sure you have good internet connect and not opening this HTML from local machine!',
							);
						$('.error-text').html(
							error.responseText
								.replaceAll(/<(.*), (.*)>/g, '<a href="$1" class="link link-primary">$2</a>')
								.replaceAll('\n', '<br/>'),
						);
					},
					success: () => {
						$('.error-text').html(
							'Please verify your account via the email received to<br/>activate your account. The email may be in your junk folder!',
						);
					},
					complete: () => {
						$('.loading').addClass('hidden');
						$('.error').show();
					},
				});
			}
		</script>
	</body>
</html>
