<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Website Config -->
  <title>Online Storage System</title>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Meta Data for Discord Rich Embed -->
  <meta content="Sign up for Online Storage System" property="og:title" />
  <meta
    content="If you're have a Chairo email, you can sign up anytime using your Chairo email address. If not, ask Bill.IHCha to give you an account depends on who are you ;?"
    property="og:description" />
  <meta content="https://panel.bill-zhanxg.com/sign-up" property="og:url" />
  <meta content="picture url" property="og:image" />
  <meta content="#0000ff" data-react-helmet="true" name="theme-color" />

  <!-- Import -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="body">

  <input type="checkbox" id="create-file-modal" class="modal-toggle" />
  <label for="create-file-modal" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
      <h3 class="font-bold text-lg py-4">New File</h3>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xl" />
      <div class="modal-action">
        <label for="create-file-modal" class="btn w-full">Create File</label>
      </div>
    </label>
  </label>
  <div class="p-8 pb-4">
    <!--- Buttons and Directory -->
    <div class="flex lg:flex-row flex-col justify-start lg:justify-between items-center ">
      <div class="hidden lg:block text-lg breadcrumbs">
        <ul class="dir">
          <input type="checkbox" class="checkbox mx-4" />
          <li><a onclick="handleDir('/')">Home</a></li>
        </ul>
      </div>
      <div class="flex justify-center items-center gap-4 flex-wrap">
        <div class="uploadDiv hidden tooltip" data-tip="100% Complete">
          <button class="upload-progress radial-progress" style="--value:100;--size:3rem">☁</button>
        </div>
        <button class="btn btn-primary lg:w-auto w-full" onclick="logout();">log out lel</button>
        <button class="createFolder btn btn-primary  lg:w-auto w-full">Create Folder</button>
        <label for="create-file-modal" class="btn btn-primary modal-button  lg:w-auto w-full">New File</label>
        <button class="btn btn-primary  lg:w-auto w-full" onclick="fileSelector()">Upload File</button>
      </div>
      <div class="block lg:hidden text-lg breadcrumbs place-self-start  mt-4">
        <ul class="dir">
          <input type="checkbox" class="checkbox mx-4"/>
          <li><a onclick="handleDir('/')">Home</a></li>
        </ul>
      </div>
    </div>
    <!-- Files -->
    
  </div>
  <iframe class="files flex flex-col gap-2 text-xl absolute h-[90vh] w-[100vh]" loading="lazy" src="/?file=true" height="100%" width="100%">  </iframe>
</body>

<!-- Import JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script src="/user.js"></script>

</html>