* {
    color: #ffffff;
}

body {
    background-color: #EBAAB0;
}

.title,
.button,
.login i {
    background-color: #F8D210;
}

.button:hover {
    background-color: #debb0e;
}

.button:active {
    outline-color: rgba(48, 140, 202, 0.750);
}

.button:focus {
    outline-color: rgba(48, 140, 202, 0.750);
}

.login {
    background-color: #FA26A0;
}

.login input {
    background-color: #e9d77c;
    transition-duration: 150ms;
    color: white;
}

.login input:hover {
    background-color: #dfce7a;
}

.login input:focus {
    outline: none;
}

.error {
    display: none;
    color: red;
}

.signup a {
    color: #2298ff;
}

.signup a:hover {
    color: #1d83dc;
}

.languageBtn,
.themeBtn {
    background-color: #F8D210;
    border: #e3c00f;
}

.languageBtn:hover,
.themeBtn:hover,
.languageBtn:focus,
.themeBtn:focus {
    background-color: #debb0e;
}

.dropdown-menu {
    background-color: #955670;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    color: revert;
    background-color: #df454a;
}