* {
    color: #000000;
}

body {
    background-color: #dadada;
}

.title, .button, .login i {
    color: white;
    background-color: #4dacff;
}

.button:hover{
    background-color: #359bf5;
}

.button:active {
    outline-color: rgba(48, 140, 202, 0.750);
}

.button:focus {
    outline-color: rgba(48, 140, 202, 0.750);
}

.login{
    background-color: #ffffff;
}

.login input, .options a {
    background-color: #dedede;
    color: #000000;
    transition-duration: 150ms;
    transition: color 0.5s ease;
}

.login input:hover {
    background-color: #dadada;
}

.error {
    color: red;
}

.signup a {
    color: #2298ff;
}

.signup a:hover {
    color: #1d83dc;
}

.languageBtn, .themeBtn {
    background-color: #3988ff;
    color: white;
    transition: color 0.5s ease;
}

i {
    color: white;
}