@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    transition: background-color 0.5s ease;
}

.main {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    font-weight: 900;
    font-size: 1.5rem;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;

    font-weight: 600;
    font-size: 24px;
    border: none;
    border-radius: 0 0 10px 10px;
}

.button:hover {
    transition-duration: 150ms;
    cursor: pointer;
}

.button:active {
    outline-style: solid;
    outline-width: 3.5px;
    transition-duration: 150ms;
}

.button:focus {
    outline-style: solid;
    outline-width: 3.5px;
    transition-duration: 150ms;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login input {
    padding: 8px;
    width: 350px;

    font-size: 16px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.login i {
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.login input:focus {
    outline: none;
}

.error {
    display: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.signup {
    padding: 24px;
    font-weight: 600;
    text-align: center;
}

.dropdown-menu {
    padding-right: 3px;
    animation: block 0.5s;
}

.dropdown-item:hover {
    cursor: pointer;
}

/* For css transition */

body,
.login,
.login input,
.options a {
    transition: background-color 0.5s ease;
}

.login input,
.options a {
    transition: color 0.5s ease;
}

/* Animation */
@keyframes block {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(40px);
    }
}

/* Responsive */
@media only screen and (max-width: 500px) {
    .login input {
        padding-right: initial;
    }
}

@media only screen and (max-width: 420px) {
    /* Make everything shrink when resize */
}

@media only screen and (max-height: 625px) {
    /* Make everything shrink when resize */
}