* {
    color: white;
}

body {
    background-color: #414141;
}

.title, .button, .login i{
    background-color: #2298ff;
}

.button:hover{
    background-color: #1d87e4;
}

.button:active {
    outline-color: rgba(48, 140, 202, 0.750);
}

.button:focus {
    outline-color: rgba(48, 140, 202, 0.750);
}

.login{
    background-color: #242424;
}

.login input {
    background-color: #414141;
    transition-duration: 150ms;
    color: white;
}

.login input:hover {
    background-color: #383838;
}

.login input:focus {
    outline: none;

}

.error {
    display: none;
    color: red;
}

.signup a {
    color: #2298ff;
}

.signup a:hover {
    color: #1d83dc;
}